<%= form_for @resume do |f| %>
  <p>
    <%= f.label :summary %>
    <%= f.text_field :summary %>
  </p>
  <p>
    <%= f.label :employment_history %>
    <%= f.text_field :employment_history %>
  </p>
  <p>
    <%= f.label :education %>
    <%= f.text_field :education %>
  </p>
  <p>
    <%= f.label :interests %>
    <%= f.text_field :interests %>
  </p>

  <%= f.submit %>
<% end %>
