
<div id="resume-tips">
  <h3>That's it!</h3>
  <span class="emoji">
    🎉
  </span>
  <p>
    Your resume has been sent off and will be reviewed by your very own career coach soon. They'll be in touch with feedback and next-steps shortly!
    <br><br>
    Made a mistake? Don't stress. You can edit it any time, or start over by deleting this resume and create a new one from scratch.
  </p>
  <h3>Skill Up in the Meantime</h3>
  <ul class="skill-up">
    <li>CodeCademy</li>
    <li>DuoLingo</li>
    <li>Udacity</li>
  </ul>
  <div class="controllers">
    <%= link_to 'Edit Resume', edit_resume_path, :class => 'button' %>
    <%= link_to 'Delete Resume', @resume, :method => 'delete', :data => {:confirm => 'Are you sure?'}, :class => 'button' %>
    <a href="#" class='button'>Download PDF</a>
  </div>
</div>

<div id="resume-show">
  <h4>Summary</h4>
  <p>
    <%= @resume.summary %>
  </p>
  <hr>

  <h4>Employment History</h4>
  <p>
    <%= @resume.employment_history %>
  </p>
  <hr>

  <h4>Education</h4>
  <p>
    <%= @resume.education %>
  </p>
  <hr>

  <h4>Interests</h4>
  <p>
    <%= @resume.interests %>
  </p>
</div>
